/* gradBox */

#gradBox{
	background-color: #f90;
}
.mid_box_02{
	width: 1398px;
	height: 824px;
	margin: auto;
	background-color: #a3a;
}
.slide_box_02{
	float: right;
	width: 721px;
	height: 824px;
	background-color: #a94;
}
/* .slide_design_02{}
.slide_bg_02{} */
.txt_box_02{
	float: left;
	width: 492px;
	height: 824px;
	padding-top: 31px; padding-left: 80px;
	box-sizing: border-box;
	background-color: #acc;
}
.box_title_02{
	width: 176px;
	height: 43px;
	margin-bottom: 64px;
	background-color: #f0c;
}
.box_txt_02{
	width: 411px;
	height: 529px;
	margin-bottom: 80px;
	background-color: #a8c;
}
.box_btn_02{
	width: 93px;
	height: 48px;
	background-color: #f8f;
	font-family: 'OTEnjoystoriesBA'; font-size: 38px;
	text-align: center;
}